Blog post file naming: inconsistent and not restricted to RFC 3986 Unreserved Characters

From 2012-02-14 to 2013-03-30 except for part of language code, file names (before .md) only used /[-.0-9a-z]/. As of 2018-08-20 there are 76 blog post files (2012-02-14-why-we-created-julia-zh_CN.md 
 to 2018-08-09-union-splitting.md), the file names for 66 (86%) match /[-.0-9a-z]/

Language code part having all-caps:
* 2012-02-14-why-we-created-julia-zh_CN.md (compare: 2018-08-08-one-point-zero-zh_cn.md, 2018-08-08-one-point-zero-zh_tw.md)

Words having all-caps
* 2013-03-30-julia-tutorial-MIT.md
* 2017-09-03-GSOC-MCMC-with-flexible-numbers-of-parameters.md (compare: 2016-04-14-gsoc.md)

Words having mixed capitalisation
* 2016-08-22-GSoC2016-Graft.md (compare: 2016-04-14-gsoc.md)
* 2016-10-03-StructuredQueries.md
* 2017-09-19-Hamiltonian-Indirect-Inference.md
* 2017-10-13-gsoc-NeuralNetDiffEq.md

File names not matching /^[-._0-9A-Za-z]$/
* 2017-12-06-ml&pl.md
* 2017-12-20-ml&pl-cn.md
* 2017-12-25-ml&pl-zh_tw.md

Proposed:
Restrict characters to those in RFC 3986 section 2.3 Unreserved Characters. 

Either further restrict to /^[-.0-9a-z]$/ because that is the only that can be easily checked with regex, or define which of /[_~A-Z]/ are allowed and under which rules.

To enforce a day-specific date in ISO 8601 format (avoid https://github.com/JuliaLang/www.julialang.org/commit/6f00f5c73c6b3d360756c0535be69618b47304f5 )
/^[2][0-9]{3}-[0-1][0-9]-[0-3][0-9]-[-.0-9a-z]{+}$/

Thanks for reviewing these. I would not change these, because these things are linked elsewhere and the links will break (and we have to set up redirects and such). The way to enforce this would be to set up CI for the website, going forward, but perhaps that is too much effort.

I would love to have help on detecting and fixing broken links in #156.

> I would love to have help on detecting and fixing broken links in #156.
It would be a good start to prevent creation of more broken links.